@import "vendor/moar/source/helper";
@import "vendor/base/source/jquery.ui.all";

@font-1: Verdana, Arial, sans-serif;

.ui-widget {
	font-family: @font-1;
	
	.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
		font-family: @font-1;
	}
}

.ui-widget-content {
	border: 1px solid #4A4A4A;
	background: #fff;
	color: #4f4f4f;
	
	a {
		color: #4f4f4f;
	}
}

.ui-widget-header {
	border: 1px solid #4A4A4A;
	color: #4f4f4f;
	.vertical-gradient(#c4c4c4, #ededed);
	
	a {
		color: #4f4f4f;
	}
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #4a4a4a;
	color: #373737;
	.vertical-gradient(#c4c4c4, #ededed);
	.inner-shadow(rgba(255, 255, 255, 0.6), 0px, 1px, 0px);
}

.ui-state-default {
	a, a:link, a:visited {
		color: #4f4f4f;
	}
	
	.ui-icon {
		background-image: url(images/ui-icons_454545_256x240.png);
	}
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	border: 1px solid #070707;
	color: #070707;
}

.ui-state-hover {
	a, a:hover {
		color: #313131;
	}
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	.hide-outline;
	color: #1c4257;
	border: 1px solid #7096ab;
	.vertical-gradient(#92bdd6, #b9e0f5);
	.hide-shadow;
}

.ui-state-active {
	a, a:link, a:visited {
		color: #313131;
	}
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border: 1px solid #d2dbf4;
	background: #f4f8fd;
	color: #0d2054;
	.hide-border-radius;
	
	.ui-icon {
		background-image: url(images/ui-icons_454545_256x240.png);
		margin-top: -1px;
	}
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
	border: 1px solid #e2d0d0;
	background: #fcf0f0;
	color: #280b0b;
	.hide-border-radius;
	
	.ui-icon {
		background: url(images/icon_sprite.png) -16px 0 no-repeat !important;
		margin-top: -1px;
	}
}

.ui-state-error-text {
	.ui-icon {
		background: url(images/icon_sprite.png) -16px 0 no-repeat !important;
	}
}

.ui-icon-info {
	background: url(images/icon_sprite.png) 0 0 no-repeat !important;
}

.ui-corner-tl {
	.border-radius(0px, 0px, 0px, 4px);
}

.ui-corner-tr {
	.border-radius(4px, 0px, 0px, 0px);
}

.ui-corner-bl {
	.border-radius(0px, 0px, 4px, 0px);
}

.ui-corner-br {
	.border-radius(0px, 4px, 0px, 0px);
}

.ui-corner-top {
	.border-radius(4px, 0px, 0px, 4px);
}

.ui-corner-bottom {
	.border-radius(0px, 4px, 4px, 0px);
}

.ui-corner-right {
	.border-radius(4px, 4px, 0px, 0px);
}

.ui-corner-left {
	.border-radius(0px, 0px, 4px, 4px);
}

.ui-corner-all {
	.border-radius(4px, 4px, 4px, 4px);
}

.ui-widget-overlay {
	background: #262b33;
	opacity: .70;
}

.ui-widget-shadow {
	background: #000;
}

.ui-accordion {
	.ui-accordion-header, .ui-accordion-content {
		.border-radius(0px);
	}
	
	.ui-accordion-header {
		.ui-icon {
	 		left: 5px;
			margin-top: -8px;
			position: absolute;
			top: 50%;
		}
	
		a {
			padding: 5px 5px 5px 23px;
			font-size: 12px;
			.bold;
			.block;
		}
	}
}

.ui-autocomplete {
	z-index: 3 !important;
	.border-radius(0px);
	.outer-shadow(rgba(0, 0, 0, 0.3), 0px, 1px, 5px);
}

.ui-menu .ui-menu-item {
	a.ui-state-hover, a.ui-state-active {
		background: #5f83b9;
		color: #fff;
		text-shadow: 0px 1px 1px #234386;
		border-color: #466086;
		.border-radius(0px);
	}
}

.ui-button {
	.transition(0.2s, ease-in-out);
	.disable-selection;
	
	.ui-button-text {
		line-height: 1.3;
		font-size: 12px;
		.bold;
		text-shadow: 0 1px 0 rgba(255,255,255,0.6);
	}
}

.ui-button.ui-state-hover {
	.vertical-gradient(#747474, #606060);
	.inner-shadow(#242424, 1px, 3px, 4px);
	color: #fefefe;
	
	.ui-button-text {
		text-shadow: 1px 1px 0 #464646;
	}
}

.ui-button.ui-state-focus {
	color: #1c4257;
	border-color: #7096ab;
	.vertical-gradient(#b9e0f5, #92bdd6);
	.hide-shadow;
	.hide-outline;
}

.ui-button-text-only {
	.ui-button-text {
		padding: 2px 7px;
	}
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
	padding: 2px;
}

.ui-button-text-icon-primary {
	.ui-button-text {
		padding: 2px 10px 2px 25px;
	}
}

.ui-button-text-icons {
	.ui-button-text {
		padding: 2px 25px 2px 25px;
	}
}

.ui-button-text-icon-secondary {
	.ui-button-text {
		padding: 2px 7px 2px 12px;
	}
}

.ui-buttonset {
	.ui-button {
		margin-right: -3px;
	
		&.ui-state-active {
			border-color: #111929;
			.vertical-gradient(#747474, #606060);
			.inner-shadow(#242424, 1px, 3px, 4px);
			color: #fefefe;
			
			.ui-button-text {
				text-shadow: 1px 1px 0 #464646;
			}
		}
	}
}

.ui-dialog {
	padding: 0;
	
	.ui-dialog-titlebar-close:hover, .ui-dialog-titlebar-close:focus {
		border: 0;
	}
	
	.ui-dialog-titlebar {
		padding: 7px 10px 6px 10px;
		border: none;
		border-bottom: 1px solid #979797;
		.border-radius(0px);
	}
	
	.ui-dialog-title {
		margin: 1px 16px 20px 0;
		font-size: 14px;
		text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	}
	
	.ui-dialog-titlebar-close {
		right: 8px;
		top: 55%;
		width: 16px;
		padding: 0;
		height: 16px;
		
		span {
			background: url(images/icon_sprite.png) 0 -16px no-repeat;
		}
		
		&:hover span {
			background-position: -16px -16px;
		}
	}
}

.ui-slider {
	background: #d7d7d7;
	.inner-shadow(rgba(0, 0, 0, 0.5), 0px, 1px, 2px);
	
	.ui-state-hover, .ui-state-active {
		background-position: 0 0;
	}
	
	.ui-slider-handle {
		background: url(images/slider_handles.png) 0px -23px no-repeat;
		width: 23px;
		height: 23px;
		border: none;
		.hide-outline;
		.hide-shadow;
	}
	
	.ui-slider-range {
		background: #a3cae0;
		.inner-shadow(rgba(17, 35, 45, 0.6), 0px, 1px, 2px);
	}
}

.ui-slider-horizontal {
	height: 5px;
	
	.ui-slider-handle {
		top: -8px;
		margin-left: -13px;
	}
}

.ui-slider-vertical {
	width: 5px;
	
	.ui-slider-handle {
		left: -8px;
		margin-bottom: -13px;
	}
}

.ui-tabs {
	border: 0;
	
	.ui-tabs-hide {
		display: none !important;
	}
	
	.ui-tabs-nav {
		padding: 0;
		background: transparent;
		border-width: 0 0 1px 0;
		.border-radius(0px);
		
		li {
			a {
				font-size: 12px;
				.bold;
				text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
			}
		
			&.ui-tabs-selected {
				background: #fff;
				border-color: #4A4A4A;
				padding-bottom: 1px;
			}
			
			&.ui-tabs-selected a, &.ui-state-disabled a, &.ui-state-processing a {
				.hide-outline;
			}
		}
	}
	
	.ui-tabs-panel {
		border-width: 0 1px 1px 1px;
		.border-radius(0px);
	}
}

.ui-datepicker {
	padding: 0;
	border: 0 none;
	.outer-shadow(rgba(0, 0, 0, 0.8), 0px, 1px, 3px);
	
	.ui-datepicker-prev, .ui-datepicker-next {
		top: 6px;
	}
	
	.ui-datepicker-prev-hover, .ui-datepicker-next-hover {
		border: 1px none;
		background-color: transparent;
	}
	
	.ui-datepicker-header {
		padding: 3.5px 0;
		border: none;
		border-bottom: 1px solid #b6b6b6;
		.border-radius(0px);
	}
	
	.ui-datepicker-prev span {
		background-position: 0px -32px !important;
		background: url(images/icon_sprite.png) no-repeat;
	}
	
	.ui-datepicker-next span {
		background-position: -16px -32px !important;
		background: url(images/icon_sprite.png) no-repeat;
	}
	
	.ui-datepicker-prev-hover span {
		background-position: 0px -48px !important;
	}
	
	.ui-datepicker-next-hover span {
		background-position: -16px -48px !important;
	}
	
	.ui-datepicker-title {
		font-size: 12px;
		text-shadow: 0 1px 0 rgba(255,255,255,0.6);
	}
	
	.ui-state-default {
		.hide-background;
		border-color: #fff;
	}
	
	.ui-state-active {
		background: #5f83b9;
		border-color: #5f83b9;
		color: #fff;
		.bold;
		text-shadow: 0 1px 1px #234386;
	}
}

.ui-datepicker-cover {
	position: absolute;
}

.ui-progressbar {
	height: 12px;
	background: #fff url(images/progress_bar.gif) 0 -14px repeat-x;
	
	.ui-progressbar-value {
		background: url(images/progress_bar.gif) 0 0 repeat-x;
	}
}

textarea, input:not([type="checkbox"]):not([type="radio"]):not([type="file"]) {

}

textarea, input {
	.round(10px);
	background: #fff;
	border: 1px solid #8c8c8c; 
	border-top: 1px solid #626262;
	padding: 2px 5px 3px 10px;
	.inner-outer-shadow(rgba(0, 0, 0, 0.2), 0px, 1px, 0px, rgba(255, 255, 255, 0.2), 0px, 1px, 0px);
}

textarea {
	padding: 5px 5px 5px 10px;
}

input[type="submit"], input[type="button"] {
	.hand;
	.hide-outline;
	.transition(0.25s, ease-in-out);
	padding: 1px 5px;
	.bold;
	border: 1px solid #4a4a4a;
	color: #373737;
	.vertical-gradient(#c4c4c4, #ededed);
	.inner-shadow(rgba(255, 255, 255, 0.6), 0px, 1px, 0px);
	.transition(0.2s, ease-in-out);
	.disable-selection;
	line-height: 12px;
	font-size: 12px;
	.bold;
	text-shadow: 0 1px 0 rgba(255,255,255,0.6);
	
	&:hover, &:focus {
		.vertical-gradient(#747474, #606060);
		.inner-shadow(#242424, 1px, 3px, 4px);
		color: #fefefe;
		text-shadow: 1px 1px 0 #464646;
	}
}

select {
	
}